@use '../colors';

@mixin light-theme {
  --base: #{colors.$black};
  --source: #{colors.$green1};
  --dest: #{colors.$red1};
  --wall: #{colors.$black};
  --empty: #{colors.$white};
  --visited: #{colors.$visited};
  --path: #{colors.$yellow1};
}