.header {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);

  h1 {
    font-size: 32px;
  }
  padding: 8px 16px;

  .cellInfo {
    align-items: center;
    gap: 8px;
    display: none;
    .cell {
      height: 18px;
      width: 18px;
      margin-right: 8px;
    }
    .cellItem {
      display: inline-flex;
      align-items: center;
    }
    @media screen and (width >= 640px) {
      display: flex;
    }
  }
}