.controller {
  height: auto;
  margin: 8px 25px;
  display: flex;
  justify-content: space-between;
}

.algoSelector {
  padding: 8px 12px;
  font-size: 16px;

  option {
    padding: 8px 12px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  button {
    margin-right: 16px;
  }
}

.stats {
  display: none;
  @media screen and (width >= 640px) {
    display: flex;
    align-items: center;
  }
}

.statsField {
  display: inline-block;
  min-width: 150px
}